@page "/"
@page "/home"
@using svm_blazor.Shared

<section>
    <h1>hello.</h1>
    <p>Welcome to my domain. This is a playground, and a bit of a showcase website about me. I have been updating this with whatever technology I wanted to learn and play with. It has undergone several changes. Currently, I have three versions of this site: Angular + TypeScript, React + JavaScript, and Blazor + C#. This one is the Blazor version.</p>
    <div class="version-icon">
        <span style="background-image:url('assets/images/skills/blazor.png');"></span>
        <span style="background-image:url('assets/images/skills/csharp.png');"></span>
    </div>
    <nav>        
        <a class="icon-link" href="https://blazor.staticvoidmain.dev" target="_blank" rel="noreferrer">
            <span style="background-image:url('assets/images/skills/angular.png');"></span>
            <span style="background-image:url('assets/images/skills/typescript.png');"></span>
            <span class="icon-link-text">Blazor | C#</span>
        </a>
        <a class="icon-link" href="https://github.com/jay-mendoza/svm-blazor" target="_blank"  rel="noreferrer">
            <span style="background-image:url('assets/images/skills/github.png');"></span>
            <span class="icon-link-text">Source Code</span>
        </a>
        <a class="icon-link" href="https://react.staticvoidmain.dev" target="_blank"  rel="noreferrer">
            <span style="background-image:url('assets/images/skills/react.png');"></span>
            <span style="background-image:url('assets/images/skills/javascript.png');"></span>
            <span class="icon-link-text">React | JS</span>
        </a>
    </nav>
    <p>
        I use <a href="https://materialdesignicons.com/" target="_blank">Material Design Icons</a> for my icons.
    </p>
</section>

<section>
    <h1>who is jay ?</h1>
    <p>
        <b>That would be me.</b> I work with software professionally. I also do it personally because it is a hobby. I like all things related to computers and everything digital. I love technology. I also love playing games, and when I get the time, I would do photography.
    </p>
    <p>
        <HeroLink MainProject="@whoIsProject" />
    </p>
    <p>
        I refer to myself as a computer engineer. I spent years getting my degrees in <a href="https://en.wikipedia.org/wiki/Computer_engineering" target="_blank">Computer Engineering</a>. I am trained and educated to deal with electronics, software, hardware, and everything in between — although I never really got these to good use, as I have been doing software engineering for the entirety of my career.
    </p>
    <p>
        Software-wise, I do full-stack, but I am especially gifted with front-end development. I would like the opportunity to work on other things as well, like embedded systems and mobile if given the chance. Aside from Technology, the automotive and aerospace industries interest me the most.
    </p>
</section>

@code {    

    /// <summary>This page's project template for the "Who Is" section.</summary>
    HeroLink.Project whoIsProject;    

    /// This page's OnInitialized lifecyle hook.
    protected override void OnInitialized()
    {
        this.whoIsProject = new HeroLink.Project()
        {
            Title="Jay Mendoza | LinkedIn",
            Description="This is just a link to my LinkedIn profile page. My LinkedIn profile ID is \"STATICVOIDMAIN\".",
            ImageUrl="assets/images/linkedin-profile.jpg",
            LinkHref="https://www.linkedin.com/in/staticvoidmain/"            
        };
    }
}
