@page "/"
@page "/home"
@using svm_blazor.Shared

<section>
    <h1>hello.</h1>
    <p>
        <b>Welcome to My Digital Playground.</b> You've landed on a dynamic canvas that's both a reflection of my journey and a testament to my passion for technology. This site has evolved over time, adapting and reshaping as I explored and mastered new tools and languages. Presently, there are three distinct versions of this platform: Angular with TypeScript, React with JavaScript, and the one you're currently browsing — Blazor with C#.
    </p>
    <div class="version-icon">
        <span style="background-image:url('assets/images/skills/blazor.png');"></span>
        <span style="background-image:url('assets/images/skills/csharp.png');"></span>
    </div>
    <nav>        
        <a class="icon-link" href="https://angular.staticvoidmain.dev" target="_blank" rel="noreferrer">
            <span style="background-image:url('assets/images/skills/angular.png');"></span>
            <span style="background-image:url('assets/images/skills/typescript.png');"></span>
            <span class="icon-link-text">Angular | TS</span>
        </a>
        <a class="icon-link" href="https://github.com/jay-mendoza/svm-blazor" target="_blank"  rel="noreferrer">
            <span style="background-image:url('assets/images/skills/github.png');"></span>
            <span class="icon-link-text">Source Code</span>
        </a>
        <a class="icon-link" href="https://react.staticvoidmain.dev" target="_blank"  rel="noreferrer">
            <span style="background-image:url('assets/images/skills/react.png');"></span>
            <span style="background-image:url('assets/images/skills/javascript.png');"></span>
            <span class="icon-link-text">React | JS</span>
        </a>
    </nav>
    <p>
        Dive in and witness the versatility of my craft. Click on the links above ↑ to see other versions, as well as the source code for this version. I use <a href="https://materialdesignicons.com/" target="_blank">Material Design Icons</a> for my icons.
    </p>
</section>

<section>
    <h1>who is jay ?</h1>
    <p>
        <b>That would be me</b>, a passionate Computer Engineer with a deep affinity for all things digital. My journey began with an extensive education in <a href="https://en.wikipedia.org/wiki/Computer_engineering" target="_blank" rel="noreferrer">Computer Engineering</a>, where I delved into the intricacies of electronics, software, and hardware. While my career has primarily been rooted in software engineering, this foundation has been instrumental in shaping my holistic understanding of the digital landscape.
    </p>
    @* <p>
        <HeroLink MainProject="@whoIsProject" />
    </p> *@
    <p>
        What drives me? A genuine love for technology, from the thrill of gaming to the artistry of photography. My strengths lie in full-stack development, with a notable flair for front-end. Yet, my versatile skill set and insatiable curiosity keep me open to exploring opportunities in areas like embedded systems and mobile development.
    </p>
    <p>
        Let's dive into the digital realm together.
    </p>
</section>

@code {    

    /// <summary>This page's project template for the "Who Is" section.</summary>
    HeroLink.Project whoIsProject;    

    /// This page's OnInitialized lifecyle hook.
    protected override void OnInitialized()
    {
        this.whoIsProject = new HeroLink.Project()
        {
            Title="Jay Mendoza | LinkedIn",
            Description="This is just a link to my LinkedIn profile page. My LinkedIn profile ID is \"STATICVOIDMAIN\".",
            ImageUrl="assets/images/linkedin-profile.jpg",
            LinkHref="https://www.linkedin.com/in/staticvoidmain/"            
        };
    }
}
