@inherits LayoutComponentBase

<header>
    <span>staticvoidmain.dev</span>
</header>
<NavMenu />
@Body
<footer>
    <p class="copyright">&copy; @DateTime.Now.Year <a href="mailto:webmaster@computerengineerjay.com" target="_blank">Jay Mendoza</a></p>
</footer>
