nav {
    display: flex;
}

    nav ::deep a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #76A863;

        padding: 10px;
        margin: 20px;

        border-radius: 30px 10px;
        width: 100px;
        height: 60px;
        background-color: #202020;
        box-shadow: 0 0 20px 1px #76A863;
    }

        nav ::deep span:first-child {
            font-size: 20px;
        }

        nav ::deep span:last-child {
            font-size: 12px;
        }