<nav>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="mdi mdi-home" aria-hidden="true"></span> <span>Home</span>
    </NavLink>
    <NavLink class="nav-link" href="works">
        <span class="mdi mdi-briefcase" aria-hidden="true"></span> <span>Works</span>
    </NavLink>
    <NavLink class="nav-link" href="skills">
        <span class="mdi mdi-code-array" aria-hidden="true"></span> <span>Skills</span>
    </NavLink>
</nav>
